MESSAGE=uma mensagem qualquer que irá aparecer no console do servidor
DATABASE_URL=postgresql://USER:PASSWORD@SERVER/DATABASE_NAME?sslmode=verify-full&channel_binding=require
ERASE_DATABASE_ON_SYNC=false